::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.selectColumnText{
    padding-top: 6px
}
.geneTableBtn{
    margin-right: 10px;
    margin-bottom: 10px;
}
.geneTableBtn span, .actionRightBtn span{
    text-transform: initial;
}

.actions-right{
    padding-right: 10px;
    padding-left: 10px;
}

.actionRightBtn{
    margin-left: 10px;
}

.load-cram-btn{
    margin-right: 10px;
}

.q-btn.unread-btn{
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #4285F4;
    color: white;
    text-transform: none;
}

.q-btn.pipeline-version-btn{
    background-color: #4285F4;
    color: white;
    text-transform: none;
    width: 80px;
}

.q-btn.table-tutorial-btn {
    background-color: orange;
    color: white;
    height: 56px !important;
    margin-left: 15px;
}

body.body--dark .q-btn.pipeline-version-btn{
    background-color: #00409b;
}


.q-btn.pipeline-version-btn .on-left{
    margin:0;
}

.showRowNum{
    float: right;
    margin: 5px 0;
    display: none;
}
.geneTableAction{
    margin-top: 20px;
}

.variants-table-count{
    text-align: left
}

.variants-table-group{
    text-align: right
}

.variants-table-group .q-btn{
   padding: 4px 10px;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
.badge_total{
    background-color: #777;
}
.badge_not_affected{
    background-color: #4285F4;
}
.badge_affected{
    background-color: #DB4437
}
.affected_color{
    color: #DB4437
}
.not_affected_color{
    color: #4285F4
}
.selectionGp{
    display: inline-block;
    margin-right: 10px;
}
.selectionDetailsBox{
    margin-bottom: 10px;
}
.selectionDetails,.geneTableTitle{
    display: inline-block;
}
.selectionDetails{
    background-color: #e3e3e3;
    align-items: center;
    vertical-align: middle;
    display: flex;
    border-radius: 0;
    padding: 0 10px;
    font-size: 17px;
    cursor: pointer;
}
body.body--dark .selectionDetails {
    background-color: #858585;
}

.selectionDetails span{
    font-weight: bold;
}
.geneTableTitle{
    font-size: 18px;
    align-items: center;
    display: flex;
    padding-bottom: 10px;
}

.q-table thead{
    background-color: #2f8ae5;
    color: white;
}
.q-table thead th{
    font-weight: bold;
    font-size: 15px;
}
.developerMode{
    background-color: #d1e2ff;
    padding: 15px;
    font-size: 13px;
}


.q-page-container .app_page{
    padding: 0;
}

.selectionDetailsRight, .geneTableAction, .showVariantsNum, .variantsTable{
    width: 100%
}

.q-dialog__inner .selectColumnCard{
    max-width: 80vw;
}

.q-dialog__inner .pipelineInfoCard{
    min-width: 50vw;
}

.q-dialog__inner .expire-dialog {
    min-width: 300px;
    width: 800px;
}

.developerMode div{
    font-weight: bold;
    margin-bottom: 20px;
}

.q-page-container .app_page .leftbar{
    padding : 10px 2px 20px 10px;
    height: 91vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 18%;
}

.elementEventDisable{
    pointer-events: none;
}

.q-page-container .app_page .rightContent{
    width: 80vw;
}

.topPanel{
    padding: 10px 10px 5px 20px;
}

@media only screen and (max-height: 700px) {
    .q-page-container .app_page .leftbar{
        height: 110vh;
        padding-bottom: 40px;
    }
}
@media only screen and (max-height: 500px) {
    .q-page-container .app_page .leftbar{
        height: 125vh;
    }
}

@media only screen and (max-width: 1385px) {
    .q-page-container .app_page .leftbar{
        width: 21vw;
    }
    .q-page-container .app_page .rightContent{
        width: 76vw;
    }
}
@media only screen and (max-width: 815px) {
    .q-page-container .app_page .rightContent{
        width: 100vw;
    }
    .q-page-container .app_page .leftbar{
        width: 100vw;
    }
}

.rightContentFullWidth{
    width: 99%;
}
.resetTableBtn i{
    margin-right: 5px
}
.q-page-container .app_page .resetTableBtn {
    width: 100%;
}
.resetTableBtn span{
    font-size: 17px;
    text-transform: capitalize;
}
.leftbarEle{
    margin-top: 15px;
}

.leftbarFilterBtnGrp{
    height: 30px;
    width: 100%;
}
.appPresetInput{
    height: 36px;
    width: 100%;
}

.bab-preset-save-btn{
    width: 40% !important;
}

body.body--dark .appPresetInput{
    background: #d1d1d1;
    border: 1px solid #d1d1d1;
}


.q-page-container .app_page .geneLocationSearchTextarea{
    padding-bottom: 0;
}

.geneLocationSearchTextarea .q-field__bottom--animated{
    bottom: -30px;
}

.q-field--outlined .q-field__control , .q-page-container .app_page .q-btn, .leftbarDropDown{
    border-radius: 0 !important;
}

.geneLocationSearchTextarea textarea{
    height: 50px;
}

.geneLocationSearchTextarea .q-field__inner{
    background: white;
}

.q-page-container .app_page .searchLocationBtnGrp, .q-page-container .app_page .searchLocationBtn{
    width: 100%;
}
.q-page-container .app_page .searchLocationBtnGrp button{
    border-radius: 0;
}

.leftbarDropDown:first-child{
    margin-top: 0;
}

.leftbarDropDown{
    margin-top: 10px;
}

.leftbarDropDownSelect{
    background-color: #4285F4;
    font-weight: bold;
    font-size: 16px;
}

.leftbarDropDown .q-item{
    color: white;
}

.bg-primary-hkgi{
    background-color: #4285F4 !important;
}

.leftbarOptions{
    color: black;
    font-weight: normal;
    font-size: 14px;
}

.leftbarDropDownSelect .descIcon{
    margin-left: 5px;
    margin-bottom: 3px;
    font-size: 20px;
    color: #4285F4;
}

.leftbarSelectCard{
    padding: 0 !important;
}

.q-card .leftbarDropDown .leftbarFreqCard{
    color: black;
}

.q-card-dark .leftbarDropDown .leftbarFreqCard{
    color: white;
}

.leftbarDropDown .leftbarFreqCard{
    padding: 10px;
    font-size: 12px;
    overflow-x: hidden;
}

.q-page-container .app_page .q-tab-panel{
    padding: 5px 5px 5px 10px;
}

.leftbarDropDown .leftbarPathoCard{
    padding: 0;
    font-size: 12px;
    overflow-x: hidden;
}

.pathogenicity-both{
    padding-bottom: 30px;
}

.q-card .leftbarDropDown .leftbarPathoCard{
    color: black;
}

.q-card-dark .leftbarDropDown .leftbarPathoCard{
    color: white;
}

.patho-container{
    padding: 0 10px;
}

.patho-snp-tab{
    padding: 0 12px !important;
}

.leftbarSelectCard{

    font-size: 14px;
}

.leftbarSelectCard.body--dark {
    color: red;
}

.radioGpHori{
    display: inline-block;
    font-size: 12px;
}
.radioGpVert{
    display: block;
    font-weight: normal;
}

.radioGpLabel{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.q-tooltip{
    max-width: 250px;
}

.checkboxGpVertical{
    padding-left: 10px;
    display: block;
}

.selectColumnCard{
    min-width: 1000px;
}

.SamplesSelectionCard{
    min-width: 85vw;
}

.expand_leftBar{
    float: right;
    margin-right: -21px;
    z-index: 100;
}

.genotypeBlock{
    display: inline-block
}

.ScoreBar{
    margin-top: 20px;
}

.q-card .q-field--auto-height .q-field__control, .q-card .q-field--auto-height .q-field__native {
    min-height: 40px;
}

.q-card .q-field__marginal {
    height: 40px;
}

.errorMsgBox{
    font-size: 14px;
}

.errorTrackNumber{
    font-size: 10px;
    zoom: 0.9;
}

.q-page-container .app_page .sliderEdit{
    margin-left: 7px;
    margin-top: 3px;
    font-size: 26px;
    color: black;
    cursor: pointer;
}

body.body--dark .q-page-container .app_page .sliderEdit{
    color: white;
}

.q-page-container .app_page .sliderEdit:hover{
    color: #4285F4;
}

body.body--dark .app_page .sliderEdit:hover{
    color: #4285F4;
}

.slider-edit-splice{
    margin-left: 7px;
}

.app_page .sliderEditInput{
    font-size: 16px;
    zoom: 0.9;
    margin-bottom: 10px;
}

.app_page .all-filtered-btn {
    position: absolute;
    right: 0;
    bottom: 25px;
    transform: translateX(-50%);
    max-width: 30px;
    z-index: 20;
}

.all-filtered-ele{
    max-height: 400px;
    width: 280px;
    background-color: #eaf2ff;
    overflow-y: scroll;
    border: 1px solid #4285F4;
}

.all-filtered-reset{
    background-color: #bbd1fc;
    position:absolute;
    top:2px;
    right:12px;
    cursor: pointer;
    border-radius: 3px;
    z-index: 10;
}

.all-filtered-reset .all-filtered-reset-btn{
    font-size: 21px;
    margin-bottom: 5px;
    color: #4285F4;
}

.q-list.default-dropdown-list{
    width: 290px;
    max-width: 290px;
    max-height: 400px;
    overflow-x: hidden;
    padding: 0 0 10px 0;
}

.q-list.default-dropdown-list .q-item{
    padding: 0;
}

.q-menu{
    max-height: 100vh !important;
}

.preset-container{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.preset-list-left{
    text-align: left;
    width: 88%;
    word-wrap: break-word;
    padding: 12px 12px
}

.preset-list-right{
    text-align: right;
    padding-top: 10px;
    padding-right: 15px;
}

.preset-container .preset-delete-btn{
    color: white;
    font-size: 14px;
    padding: 7px;
    background: #4285f4;
}

.preset-delete-btn:hover{
    background-color: #8cb6ff;
    transition: 0.3s;
}

.preset-container .hover-container{
    position: fixed;
    display: none;
    background-color: #eaf2ff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    overflow-x: hidden;
    outline: 0;
    z-index: 10;
    margin-top: 15vh;
    top:0;
    border: 1px solid #4285F4;
}

body.body--dark .preset-container .hover-container {
    background-color: #092b63;
}

.hover-preset {
    width: 300px;
    left: 465px;
    max-height: 70vh;
    min-height: 60vh;
    padding: 5px;
}

.hover-bookmark {
    width: 630px;
    left: 600px;
    max-height: 490px;
}

.hover-exomiser {
    width: 165px;
    right: 20px;
    max-height: 30vh;
    min-height: 30vh;
    padding: 5px;
}

.hover-bookmark-contain-filters {
    min-height: 490px;
}

@media only screen and (max-width: 816px) , (max-width: 816px) {
    .hover-bookmark {
        width: 230px;
        right: 45vw;
        margin-top: 15vh;
        top:0;
        max-height: 750px;
    }
}

@media only screen and (max-width: 1024px) , (max-width: 1024px) {
    .hover-bookmark {
        width: 230px;
    }
}

.q-item__section:hover .hover-container {
    display: block;
}

.q-item__section{
    padding: 0;
}

.sub-group-title{
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
    border-bottom: 2px dotted #8c8c8c;
}

.category-icon{
    margin-bottom: 3px;
    font-size: 18px;
    color: #4285F4 !important;
}

.impact-sub-group{
    padding: 10px 10px 10px 1px;
}

.spliceAI_group{
    width: 100%;
}

.slider-label{
    margin-right: 10px;
    font-size: 12px;
}

.priori_slider{
    padding-top: 10px;
}

.priori_tab{
    font-size: 12px;
}

@media only screen and (max-height: 600px) , (min-height: 600px) {
    .slider-drag{
        width: 95%;
    }

    .slider-input{
        width: 5%;
    }
}

button.export-btn{
    width: 150px;
    margin-top: -10px;
    margin-right: 10px;
}

.q-list.export-list{
    width: 100%;
    max-width: 290px;
    max-height: 400px;
    overflow-x: hidden;
    padding:0;
}

.export-list .q-item{
    padding: 0;
}

.export-list-left{
    text-align: left;
    width: 100%;
    word-wrap: break-word;
    padding: 10px;
}

.change-read-text{
    font-size: 15px;
    margin-left: 10px;
}

.variants-table-actions{
    margin-bottom: 10px;
}

.detail-row {
    margin-bottom: 10px;
}

td.q-td > span > .clinvar-star {
    color: #FDB81E;
    justify-content: start;
    font-size: 16px;
}
.clinvar-star-text {
    padding-left:5px;
}

.q-notification__badge--top-left{
    display: none ;
}

.transcript-btn {
    margin: 5px 0px;
}

.variant-detail-info-box {
    margin: 0 5px;
}

@media (max-width: 600px) {
    .row > .col-sm-12 {
        width: 100%;
    }
}

.both-tabs{
    background: #e7f0ff;
    color: #6f6f6f;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-bottom: 2px solid #4285F4;
}

body.body--dark .both-tabs{
    background: #092b63;
    color: white;
}

body.body--dark {
    background: #383838 !important;
}

.leftbarDropDown .leftbarFreqCard--dark {
    color: white
}

body.body--dark #igv {
    background: white;
    color: black;
}

body.body--dark .leftbarDropDownSelect {
    background: #00409b
}

body.body--dark .bg-primary,
body.body--dark .bg-primary-hkgi {
    background-color: #00409b !important;
}

body.body--dark .q-btn.unread-btn {
    background-color: #00409b;
}

body.body--dark .variantsTableHeader {
    background-color: #00409b;
}

body.body--dark  .q-table thead,
body.body--dark .variant-details-box .detail-header {
    background-color: #00409b;
}

body.body--dark a:-webkit-any-link {
    color: #63d6f1;
}

body.body--dark {
    --scrollbarBG: #051c3b;
    --thumbBG: #90A4AE;
}

body.body--dark .q-table__middle,
body.body--dark .leftbar
.q-menu--dark {
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body.body--dark .q-table__middle::-webkit-scrollbar,
body.body--dark .leftbar::-webkit-scrollbar,
.q-menu--dark::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

body.body--dark .q-table__middle::-webkit-scrollbar-track,
body.body--dark .leftbar::-webkit-scrollbar-track,
.q-menu--dark::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body.body--dark .q-table__middle::-webkit-scrollbar-thumb,
body.body--dark .leftbar::-webkit-scrollbar-thumb,
.q-menu--dark::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 16px;
    border: 3px solid var(--scrollbarBG);
}

body.body--dark .change-read-text{
    color: black;
}

body.body--dark .text-primary {
    color: #b9f1ff!important;
}

.sticky-bookmark{
    background: #c8dfff;
}

body.body--dark .sticky-bookmark{
    background: #1e69ce;
}

.add-frequency-filter{
    margin-bottom: 20px;
}

.add-frequency-filter .filter-frequency-icon{
    font-size: 25px;
    color: #1e69ce;
    padding-top:10px;
    margin-left: 5px;
    cursor: pointer;
}

.slider-group .remove-filter-frequency-icon{
    font-size: 20px;
    color: #1e69ce;
    cursor: pointer;
}

.q-field__inner .q-field__control {
    padding-right: 0;
    min-height: unset;
}

body.body--dark .mark-as-read.confirm-btn {
    color: #00409b !important;
}

.header-toolbar{
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
}

.samples-status-in-selection{
    font-size: 11px;
}

.samples-selection{
    margin-bottom: 10px;
}

.cookie__floating {
    max-width: 409px !important;
    font-family: 'Mulish', sans-serif !important;
}

.database-info-icon{
    width: 30px;
    height: 30px;
}


/***************/
.top_panel_filter{
    background: #d0dfff;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px
}

.top_panel_search{
    padding: 0 10px 10px 21px
}

.rightContentFullWidth_v3{
    padding: 0 !important;
    width: 100% !important;
}

.filter-box-area {
    width: 100%;
    padding: 2px 4px 2px 23px;
}

.filter-area {
    width: 100%;
}

.f-middle{
    display: flex;
}

.filter-right{
    padding: 5px;
    width: 200px;
    text-align: right;
}

.reset-table-btn{
    height: 30px !important;
    width: 150px !important;
}

.filter-text{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-top:3px;
    margin-right: 30px;
}


.app_page_external .filter_section{
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    color: #4285F4;
    margin-right: 0;
    display: inline-block;
}

.select-preset-box{
    padding-right: 5px;
    margin-bottom: 10px;
}



.filter-inner {
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    padding: 7px 0 1px 0;
    margin-left: 5px;
    height: 40px;
    background: #4285F4;
    color: white;
}

.app_page_external .filter-inner-filtered{
    background: #082374 !important;
}

body.body--dark .app_page_external .filter-inner-filtered{
    background: #082374 !important
}


body.body--dark .app_page_external .filter_section{
    color: white;
}

body.body--dark .app_page_external .top_panel_filter{
    background: #667390;
}

.filter_section_name {
    padding: 0 12px;
}

.filter_section_name i{
    font-size: 25px;
}

.descIcon {
    margin-left: 10px;
    margin-bottom: 3px;
    font-size: 20px;
    color: #4285F4;
}

.app_page_external .filter-card{
    width: 350px;
}

.sliderEdit{
    margin-left: 7px;
    margin-top: 3px;
    font-size: 26px !important;
    color: black;
    cursor: pointer !important;
}

.sliderEdit{
    color: black;
}

body.body--dark .sliderEdit{
    color: white;
}

body.body--dark .sliderEdit:hover{
    color: #4285F4;
}

.q-page-container .sliderEdit:hover{
    color: #4285F4 !important;
}

.slider-edit-splice{
    margin-left: 7px;
}

.sliderEditInput{
    font-size: 16px;
    zoom: 0.9;
    margin-bottom: 10px;
}

.location-search-container{
    padding-right: 10px;
    padding-bottom: 5px;
    display: inline-block;
}

.location-search-container .q-btn-group{
    box-shadow: none;
}

.location-search-btn-group input{
    width: 350px;
    /*height: 57px;*/
}

.location-search-btn-group textarea{
    width: 270px;
    margin-bottom: 10px;
}

.location-search-btn-group button{
    height: 40px;
}

.app_page_external .location-search-btn-group input{
    padding-left: 10px;
}

.location-search{
    padding: 0 0 0 10px;
}

.location-search .gene-location-text{
    padding-bottom: 0;
    width: 100%;
}

.location-search .gene-location-text input, .location-search .gene-location-text textarea{

}

.gene-location-text .q-field__bottom--animated{
    bottom: -30px;
}


.searchLocationBtn{
    width: 100% !important;
}

.q-btn-group.row.no-wrap.inline.searchLocationBtnGrp{
    border-radius: 0;
    width: 100%;
}

.variants-table-actions-group{
    padding: 0 0 0 20px
}

.app_page_external .gene-panel-selection{
    width: 400px;
    display: inline-block;
}

.gene-panel-selection .q-field__inner{
    background: white;
}

body.body--dark .gene-panel-selection .q-field__inner{
    background: #082374
}

.gene-panel-label{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gene-panel-label span{
    background: #e0e0e0;
    color: black;
    margin-right: 3px;
    border-radius: 20px;
    padding: 1px 10px;
}


.category-icon{
    margin-bottom: 3px;
    font-size: 18px;
    /* color: #4285F4; */
    color: #FFFFFF;
}

.hover-bookmark-external {
    right: 350px;
}

@media only screen and (max-width: 1024px) {
    .hover-bookmark-external{
        left: 0;
    }
}

.actions_bookmark{
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
}

.reset-filter-btn{
    height: 40px !important;
}

.actions_top button{
    /*height: 55px;*/
    width: 50px;
}

.bookmark-dropdown .q-btn-dropdown__arrow{
    margin: 0 !important;
}

.filtering-second{
    padding: 0 15px;
}

.status-details-btn{
    height: 56px !important;
}

div.q-card.exomiser-box{
    width: 70vw;
    max-width: none;
    padding: 20px;
}

.exomiser_filter, .exomiser_notice{
    padding: 10px;
}

.exomiser_filter_disable{
    pointer-events: none;
    opacity: 0.3;
    cursor:not-allowed;
}

.exomiser_notice{
    font-family: 'Mulish', sans-serif;
}