# Ignore Nextflow temporary files
.nextflow/

# Ignore Nextflow work directory
work/

# Ignore Nextflow logs
*.nextflow.log*

# Ignore Nextflow reports
reports/

# Ignore Nextflow timeline
timeline.html

# Ignore Nextflow trace
trace.txt

# Ignore Nextflow DAG
dag.png

# Ignore Nextflow cache
.cache/

# Ignore temporary files
*.tmp

# Ingore data file except common folder but include hg38ToHg19.over.chain.gz
data